.mainContent {
  width: 100vw;
}

.mainContent__container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.mainContent__left {
  flex: 0.5;
  padding-right: 50px;
}

.mainContext__right {
  flex: 0.5;
}

.mainContent__left > h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact__container {
  display: flex;
  padding-top: 20px;
}

.contact__left,
.contact__right {
  flex: 1;
  margin: 20px;
}

.contact__right {
  background: white;
  padding: 5px;
  text-align: center;
}

.contact__right p {
  font-weight: 200;
}

.mainContent__image {
  max-width: 100%;
  width: 100%;
}
